@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Kanit, Sans-Serif;
  transition: all 0.6s ease;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #1f1f1f;
  color: #eee;
}
